.third-section {
  margin-bottom: 60px;
}

.third-section-icones ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 60px;
}
.third-section-icones li {
  text-align: center;
  list-style: none;
}
.third-section-icones li img {
  max-width: 40px;
  height: auto;
  margin-bottom: 15px;
}
.third-section-icones li h3 {
  color: var(--cor-01);
  margin-bottom: 15px;
}
.third-section-icones li p {
  color: var(--cor-02);
  max-width: 35ch;
}

.third-section-empresas {
  margin-top: 90px;
}
.third-section-empresas ul {
  display: flex;
  gap: 60px;
  list-style: none;
  justify-content: center;
}

.third-section-empresas li img {
  max-width: 250px;
  height: auto;
}
